$text-color: rgb(255, 255, 255);

.noselect {
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, supported by Chrome, Edge, Opera and Firefox */
}

html {
    background: url(assets/background.jpg) no-repeat bottom;
    background-size: cover;
    display: grid;
    place-items: center;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.heading {
	background-image: linear-gradient(to right, rgb(204, 111, 155), rgb(85, 93, 201));
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	display: flex;
	justify-content: center;
	margin-top: 0;
}

.container {
	background-image: initial;
	background-color: rgba(19, 22, 23, 0.25);
	box-shadow: rgba(22, 27, 120, 0.37) 0px 8px 32px 0px;
	border-color: rgba(51, 56, 58, 0.18);
	// width: 100%;
	// max-width: 700px;
	// margin: -4em auto 0;
	padding: 2em;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	// position: relative;
}

.city-search {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid rgba(255, 255, 255, 0.18);
	outline: none;
	border-radius: 8px;
	font-size: 16px;
	background-color: inherit;
	background-position: 10px 12px;
	background-repeat: no-repeat;
	padding: 8px 10px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	color: #333;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	caret-color: $text-color;
}

.city-name {
	font-size: 2.25rem;
	font-weight: bold;
	color: $text-color;
	display: flex;
	justify-content: center;
	margin: 10px 0px 0px 0px;
}

.date {
	font-size: 1.25em;
	font-weight: 500;
	color: $text-color;
	display: flex;
	justify-content: center;
}

.icon-temp {
	font-size: 3rem;
	font-weight: 700;
	color: $text-color;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.deg {
	font-size: 1.3rem;
}

.spinner {
	$spinner-size: 15px;
	width: $spinner-size;
	height: $spinner-size;

	display: inline-block;
	position: absolute;
	right: 40px;
	border-radius: 50%;
	animation: transitionSpinner .5s linear infinite;
	
	border: 3px solid rgba(180, 75, 125, 0.2);
	border-top-color: rgb(180 75 125);
}

@keyframes transitionSpinner {
	0% {
		transform: rotate(0deg)
	}

	to {
		transform: rotate(360deg)
	}
}

.search-bar {
	display: flex;
	align-items: center;
}

.error-message {
	display: inline-block;
	position: absolute;
	right: 40px;
	padding: 2px 10px;
	border-radius: 5px;
	background-color: red;
	animation: transitionError 3s linear;
	opacity: 0%;
}

@keyframes transitionError {
	0% {
		opacity: 0%;
	}

	2% {
		transform: translateX(-5px)
	}

	4% {
		transform: translateX(5px);
	}

	6% {
		transform: translateX(0);
		opacity: 50%;
	}

	90% {
		opacity: 50%;
	}

	100% {
		opacity: 0%;
	}
}

.weather-description {
    display: flex;
	justify-content: center;
	align-items: center;
    margin-top: -20px;
    margin-bottom: 30px;
	font-size: 0.9rem;
}

.weather-conditions {
	font-weight: 500;
	color: $text-color;
	margin-top: 20px;
	display: flex;
	justify-content: space-evenly;

    img {
        width: 20px;
        vertical-align: middle;
        margin-bottom: 5px;
    }
}

.expander {
    animation: expandAnimation 1s cubic-bezier(0.55, 0, 0, 1.3);
	overflow: hidden;
	height: 300px;
}

@keyframes expandAnimation {
	from {
		height: 0px;
	}

	to {
		height: 300px;
	}

}